trigger: none

pool: mera-agent-pool

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: Install Node.js

- task: PowerShell@2
  displayName: NPM Install
  inputs:
    targetType: 'inline'
    script: 'npm install'

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'npm install jest-junit --save-dev'

- task: PowerShell@2
  displayName: NPM Unit Testing
  inputs:
    targetType: 'inline'
    script: |
      cd $(System.DefaultWorkingDirectory)/src     
      npm test -- --ci --reporters=jest-junit --reporters=default
