trigger: none

pool: mera-agent-pool

steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'Write-Host "Hello World"'

- task: PowerShell@2
  displayName: npm install
  inputs:
    targetType: 'inline'
    script: 'npm install'

- task: PowerShell@2
  displayName: npm run build
  inputs:
    targetType: 'inline'
    script: 'npm run build'