trigger: none

pool: mera-agent-pool

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: Install Node.js

# Step 1 – NPM Install (Already working)
- task: PowerShell@2
  displayName: NPM Install
  inputs:
    targetType: 'inline'
    script: |
      npm install

# Step 2 – Install Jest JUnit Reporter
- task: PowerShell@2
  displayName: Install jest-junit
  inputs:
    targetType: 'inline'
    script: |
      npm install jest-junit --save-dev

# Step 3 – Run Jest Unit Tests
- task: PowerShell@2
  displayName: NPM Unit Testing
  inputs:
    targetType: 'inline'
    script: |
      npm test -- --ci --reporters=jest-junit --reporters=default --passWithNoTests
